<mat-card>
  <mat-card-header>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput value="{{ decodedToken.name }}" readonly="readonly" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>NIM</mat-label>
      <input matInput value="{{ decodedToken.nim }}" readonly="readonly" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>IPK</mat-label>
      <input matInput value="{{ decodedToken.ipk }}" readonly="readonly" />
    </mat-form-field>
  </mat-card-header>
</mat-card>

<app-create-peminatan></app-create-peminatan>
<!-- <app-tabel-peminatan></app-tabel-peminatan> -->

<mat-card>

  <mat-card-content>
    <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="no">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let element; let i = index">{{i+1}}</td>
      </ng-container>

      <ng-container matColumnDef="namapeminatan">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Peminatan</th>
        <td mat-cell *matCellDef="let element">{{element.namaPeminatan}}</td>
      </ng-container>

      <ng-container matColumnDef="urutanMinat">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Urutan Peminatan</th>
        <td mat-cell *matCellDef="let element">{{element.urutanMinat}}</td>
      </ng-container>

      <ng-container matColumnDef="namamatkul">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Nama Mata Kuliah</th>
        <td mat-cell *matCellDef="let element">{{element.namaMatkul}}</td>
      </ng-container>

      <ng-container matColumnDef="nilai">
        <th mat-sort-header mat-header-cell *matHeaderCellDef> Nilai</th>
        <td mat-cell *matCellDef="let element">{{element.nilai}}</td>
      </ng-container>


      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action</th>
        <td mat-cell *matCellDef="let element">

          <!-- <button (click)="editcustomer(element.id)" mat-raised-button color="primary">Edit</button> -->
          <button (click)="deletePeminatanMahasiswa(element.pilihanPeminatan)" mat-raised-button
            color="warn">Delete</button>
          <!-- <button (click)="detailcustomer(element.id)" mat-raised-button color="primary">Detail</button> -->
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

    </table>
  </mat-card-content>

  <br>

  <mat-card-footer>
    <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
  </mat-card-footer>

</mat-card>